.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.form__textfields {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit {
  height: 50px;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgb(125, 125, 125);
  border-radius: 5px;
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.cancel {
  height: 50px;
  width: 70px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgb(125, 125, 125);
  border-radius: 5px;
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.custom-input {
  border-radius: 15px;
  border: 0.5px solid rgb(125, 125, 125);
  padding: 4px 12px;
  color: #fff;
  font-weight: 600;
  background-color: transparent;
  height: 22px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.custom-input:focus {
  outline: none;
  box-shadow: 10px 10px 20px #d9d9d93e, -10px -10px 20px #ffffff5a;
}

.imagePreview {
  height: 200px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.needInspo {
  cursor: pointer;
  letter-spacing: 5px;
  font-weight: 500;
}
