.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 250px;
}

.right-arrow {
  position: absolute;
  top: 48%;
  right: 20px;
  font-size: 2rem;
  color: white;
  z-index: 1;
  cursor: pointer;
}

.slide {
  opacity: 0.5;
  transition-duration: 1s ease;
  transform: translateX(100px);
}

.slideActive {
  transition-duration: 1s;
}
