.dateInput {
  overflow: hidden;
  padding: 10px;
  width: 100%;

  margin: 20px auto;
  font-family: "Roboto";
  display: block;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 0.5px solid transparent;
  border-radius: 5px;
  backdrop-filter: blur(7px);
  text-align: left;
}

.dateInput__label {
  margin: 10px;
}
