.inspoCountry {
  font-family: "Work Sans", sans-serif;
  margin-top: 100px;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 30px;
  letter-spacing: 12px;
  font-weight: 600;
  text-shadow: 0 0 5px #919181, 0 0 10px #919181, 0 0 15px #919181,
    0 0 20px #bfba9d, 0 0 30px #bfba9d, 0 0 40px #bfba9d, 0 0 55px #bfba9d,
    0 0 75px #bfba9d;
  -webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.gotInsired {
  cursor: pointer;
  letter-spacing: 5px;
  font-weight: 500;
  text-align: center;
  margin-top: 60px;
  -webkit-animation: text-focus-in 4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
