.button-unfolding {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
  width: 270px;
  margin-top: 10px;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 0.5px solid transparent;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  text-align: left;
  cursor: pointer;
}

.button-plus {
  width: 30px;
  height: 40px;
  margin-right: 10px;
}

.button-label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
}

textarea {
  overflow: hidden;
  padding: 10px;
  width: 250px;
  margin: 20px auto;
  font-family: "Roboto";
  display: block;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 0.5px solid transparent;
  border-radius: 5px;
  backdrop-filter: blur(7px);
  text-align: left;
}

.input-hidden {
  display: none;
}
