.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--background-button);
  box-shadow: 0 25px 45px var(--box-shadow);
  border-radius: 5px;
  backdrop-filter: blur(3px);
}

a {
  color: var(--color-font);
  margin: 20px;
}

.navigation__plus {
  height: 60px;
  width: 60px;
}

.navigation__suitcase,
.navigation__inspo {
  height: 45px;
  width: 45px;
}

.selected {
  color: var(--selected-icon);
}
