.noTripsContainer {
  display: flex;
  align-content: center;
  text-align: center;
  letter-spacing: 2px;
}

.noTrips {
  text-decoration: none;
  cursor: pointer;
  background: var(--background-button);
  box-shadow: 0 25px 45px var(--box-shadow);
  border: 0.5px solid var(--border-color);
  border-radius: 5px;
  backdrop-filter: blur(8px);
  height: 40vh;
  width: 300px;
}

.noTripsContent {
  padding: 100px 0;
}
