.tripDetails {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tripDetails__box {
  width: 100%;
  padding: 5px;
  background: var(--background-button);
  box-shadow: 0 25px 45px var(--box-shadow);
  border-radius: 5px;
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.tripDetails__label {
  letter-spacing: 2px;
}

.tripDetails__text {
  display: inline-block;
  white-space: pre-line;
  padding-top: 10px;
  padding-left: 10px;
}
