h3 {
  letter-spacing: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: scroll;
}

.randomImages {
  border: 0.5px solid white;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
}
