.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  width: 100%;
  margin-top: 10px;
  padding-top: 50px;
  color: var(--color-font);
  background: var(--background-button);
  box-shadow: 0 25px 45px var(--box-shadow);
  border: 0.5px dashed var(--color-font);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  text-align: center;
}
.upload__input {
  width: 100%;
  padding: 20px;
}

.upload__icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.upload__label {
  font-size: 12px;
}
