.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.form__textfields {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
}
.cancel {
  height: 30px;
  width: 45px;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
}
