.navigation {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

a {
  color: #ffff;
}

.navigation__plus {
  height: 60px;
  width: 60px;
}

.navigation__suitcase {
  height: 45px;
  width: 45px;
}

.navigation__user {
  height: 45px;
  width: 45px;
}
