*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  display: grid;
  grid-template-rows: [header] 80px [main] 507px [footer] 80px;
  background-image: url("./images/background.png");
  background-size: cover;
}

.Header {
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  grid-row: header;
  color: #ffff;
  margin: 20px;
}

.Main {
  grid-row: main;
}

.Footer {
  grid-row: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
}
