*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  display: grid;
  height: 100vh;
  grid-template-rows: [header] 80px [main] auto;
  background-image: url("./images/background.png");
  background-size: cover;
  color: #ffff;
}

.Header {
  font-family: "Work Sans", sans-serif;
  font-size: 40px;
  grid-row: header;
  margin: 20px;
}

.Main {
  grid-row: main;
  overflow-y: scroll;
}

.Footer {
  grid-row: footer;
  margin: auto 0;
  position: absolute;
  top: 600px;
  width: 100vw;
}
